# Load a dataframe with SQL output

In [1]:
import pyodbc
import pandas as pd 
server = 'localhost'
database = 'demo'
driver= '{ODBC Driver 17 for SQL Server}'
sql_conn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';DATABASE='+database+';Trusted_Connection=yes') 

query = "SELECT * FROM INFORMATION_SCHEMA.TABLES"
df = pd.read_sql(query, sql_conn)
display (df)

  TABLE_CATALOG TABLE_SCHEMA        TABLE_NAME  TABLE_TYPE
0          Demo          dbo           testcol  BASE TABLE
1          Demo          dbo        ReportList  BASE TABLE
2          Demo          dbo  SalesTransaction  BASE TABLE
3          Demo          dbo          Dim_Date  BASE TABLE